<h2 class="text-center mb-5"><span class="text-warning">Registrati</span> ed inizia a cercare l'evento adatto a te</h2>
<div class="d-flex flex-column flex-lg-row justify-content-evenly align-items-center container">
  <!-- LINK AL LOGIN -->
  <div class="card bg-dark border border-light p-3 d-flex flex-column align-items-center mb-5 mb-lg-0">
    <p class="mb-3">Sei già registrato?</p>
    <a class="btn btn-outline-light" [routerLink]="['../login']">Accedi</a>
  </div>
  <!-- FORM DI REGISTRAZIONE -->
</div>
