<main class="bg-dark container-fluid p-0 text-light" [ngClass]="{'loading' : loading == true}">
  <!-- HOME SENZA ACCESSO -->
  <div>
    <!-- BANNER -->
    <div id="banner" class="p-5">
      <div *ngIf="!loggato; else bannerLoggato">
        <h1 class="mb-3 display-1 fw-bold">Iscriviti adesso e comincia a competere con migliaia di atleti in tutta
          Italia
        </h1>
        <div class="pb-5">
          <a class="btn btn-primary btn-lg me-3 btn-rounded" [routerLink]="['auth/register']"
            routerLink="auth/login">Unisciti
            ora</a>
          <a class="btn btn-light mt-3 btn-lg btn-rounded" [routerLink]="['events']" routerLink="events">Sfoglia gli
            eventi
            disponibili</a>
        </div>
      </div>
    </div>
    <!-- SPORTS CARD -->
    <div class="pb-5">
      <h2 class="text-center display-6 fw-light p-5">Scegli l'evento del tuo sport da combattimento preferito tra i
        seguenti e partecipa <span class="text-warning">ora</span></h2>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="bg-image sports-card">
          <img src="../../../assets/img/boxe.jpg" class="w-100" alt="boxe" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">Boxing</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/mma.jpg" class="w-100" alt="MMA" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">MMA</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/judo.jpg" class="w-100" alt="judo" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">Judo</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/bjj.jpg" class="w-100" alt="BJJ" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">BJJ</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/karate.jpg" class="w-100" alt="karate" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">Karate</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/grappling.jpg" class="w-100" alt="grappling" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">Grappling</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/taekwondo.jpg" class="w-100" alt="taekwondo" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">Taekwondo</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/muaythai.jpg" class="w-100" alt="Muay Thai" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">Muay Thai</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/kickboxe.jpg" class="w-100" alt="Kickboxing" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">Kickboxing</p>
            </div>
          </div>
        </div>
        <div class="bg-image sports-card">
          <img src="../../../assets/img/jujitsu.webp" class="w-100" alt="Ju Jitsu" />
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="mb-0">Ju-Jitsu</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- LINK ALLA CREAZIONE DI EVENTI -->
    <div class="pb-5 px-5 text-center">
      <h2 class="text-center display-6 fw-light mb-3">Non trovi l'evento adatto a te? <span
          class="text-warning">Crea</span> il tuo evento in pochi minuti</h2>
      <a class="btn btn-primary btn-lg btn-rounded" [routerLink]="['createEvent']" routerLink="createEvent">Crea un
        evento</a>
    </div>
  </div>
</main>

<ng-template #bannerLoggato>
  <h1 class="mb-3 display-1 fw-bold">Bentornat<span *ngIf="this.genere == 'maschio'">o</span><span
      *ngIf="this.genere == 'femmina'">a</span> {{this.nome}}</h1>
  <div class="pb-5">
    <a class="btn btn-primary btn-lg me-3 btn-rounded" [routerLink]="['user']" routerLink="user">Vai al tuo profilo</a>
    <a class="btn btn-light mt-3 btn-lg btn-rounded" [routerLink]="['events']" routerLink="events">Sfoglia gli eventi
      disponibili</a>
  </div>
</ng-template>
