div {
  animation: appearence 1s;
 }

 @keyframes appearence {
   from {
     opacity: 0;
   }

   to {
     opacity: 1;
   }
 }

#banner {
  background-image: url(../../../assets/img/bannerHome.jpg);
  background-size: cover;
  background-position: bottom;
  h1 {
    text-shadow: 3px 3px 6px black;
  }
}

.sports-card {
  height: 20vh;
  width: 19.7vw;
  min-width: 200px;
}

.boxing {
  background-image: url(../../../assets/img/boxe.jpg);
  background-size: cover;
}

.mma {
  background-image: url(../../../assets/img/mma.jpg);
  background-size: cover;
}

.judo {
  background-image: url(../../../assets/img/judo.jpg);
  background-size: cover;
}

.bjj {
  background-image: url(../../../assets/img/bjj.jpg);
  background-size: cover;
}

.karate {
  background-image: url(../../../assets/img/karate.jpg);
  background-size: cover;
}

.grappling {
  background-image: url(../../../assets/img/grappling.jpg);
  background-size: cover;
}

.taekwondo {
  background-image: url(../../../assets/img/taekwondo.jpg);
  background-size: cover;
}

.muaythai {
  background-image: url(../../../assets/img/muaythai.jpg);
  background-size: cover;
}

.kickboxing {
  background-image: url(../../../assets/img/kickboxe.jpg);
  background-size: cover;
}

.jujitsu {
  background-image: url(../../../assets/img/jujitsu.webp);
  background-size: cover;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.loading {
  cursor: wait;
}
