<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLink="home" routerLinkActive="active"><img src="../assets/img/logo_bgdark.png" width="159px" height="25px" alt="logo"></a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="noListNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-between"
      id="navbarNavAltMarkup"
      mdbCollapse
      #noListNav="mdbCollapse"
    >
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/']" routerLink="home">Home</a>
        <a class="nav-link" href="#">Eventi</a>
        <a class="nav-link" href="#">Regolamenti</a>
      </div>
      <button class="btn btn-outline-light" [routerLink]="['auth/login']" routerLink="auth/login">Accedi</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
