<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" [ngClass]="{'loading' : loading == true}">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']" routerLink="home" routerLinkActive="active"><img src="../assets/img/logo_bgdark.png" width="159px" height="25px" alt="logo"></a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="noListNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-between"
      id="navbarNavAltMarkup"
      mdbCollapse
      #noListNav="mdbCollapse"
    >
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['/']" routerLink="home">Home</a>
        <a class="nav-link" [routerLink]="['events']" routerLink="events">Eventi disponibili</a>
        <a class="nav-link" [routerLink]="['createEvent']" routerLink="createEvent">Crea un evento</a>
        <a class="nav-link" [routerLink]="['rules']" routerLink="rules">Regolamenti</a>
      </div>
      <div *ngIf="!loggato; else accountLoggato">
        <button class="btn btn-outline-light" [routerLink]="['auth/login']" routerLink="auth/login">Accedi</button>
      </div>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- FOOTER -->
<footer class="text-center text-lg-start bg-dark text-light pt-5" [ngClass]="{'loading' : loading == true}">
  <!-- Section: Social media -->
  <section class="text-center p-4 border-bottom">
    <div>
      <a href="https://www.facebook.com/" class="me-4 text-reset" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/" class="me-4 text-reset" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/" class="me-4 text-reset" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://it.linkedin.com/" class="me-4 text-reset" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/Gennerentola" class="me-4 text-reset" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Contatti  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="d-lg-flex justify-content-between mt-3">
        <!-- Grid column -->
        <div class="mx-auto mb-4">
          <!-- Content -->
          <h6 class="fw-bold mb-4">
            <img src="../assets/img/logo_bgdark.png" width="159px" height="25px" alt="logo">
          </h6>
          <p class="w-50 mx-auto mx-md-0">
            Non fare del successo un obiettivo, bensì una conseguenza. Ci vediamo sul tatami!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mx-auto mb-md-0 mb-4">
          <!-- Contatti -->
          <h6 class="fw-bold mb-4">CONTATTI</h6>
          <p><i class="fas fa-home me-3"></i>Maratea (PZ), 85046, Italia</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            <a class="text-reset" href="mailto:" target="_blank">gennaro.notaro1@gmail.com</a>
          </p>
          <p><i class="fas fa-phone me-3"></i> <a class="text-reset" href="tel:+" target="_blank">(+39) 348 450 1800</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Contatti  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://github.com/Gennerentola" target="_blank">Gennaro Notaro</a>
  </div>
  <!-- Copyright -->

</footer>

<ng-template #accountLoggato [ngClass]="{'loading' : loading == true}">
  <div class="d-flex align-items-lg-center flex-column flex-lg-row" *ngIf="loggato">
    <a class="nav-link text-light" [routerLink]="['user']" routerLink="user"><i class="far fa-user"></i></a>
    <div>
      <button class="btn btn-outline-light" (click)="logout()">Logout</button>
    </div>
  </div>
</ng-template>
