<main class="bg-dark text-light">
  <h1 class="text-center p-5"><span class="text-warning">CREA</span> il tuo evento</h1>
  <form class="card bg-dark border border-light p-3 d-flex flex-column align-items-center w-75 mx-auto">
    <input class="w-75" type="text" name="nome" id="nome" placeholder="Nome Evento" required>
    <mdb-form-control class="w-75 my-3 border rounded border-light p-3" formControlName="sport">
      <p>Sport:</p>
      <div class="d-lg-flex justify-content-evenly flex-wrap">
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="Boxing"
            id="Boxing" checked />
          <label class="form-check-label" for="Boxing">Boxing</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="MMA"
            id="MMA" />
          <label class="form-check-label" for="MMA">MMA</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="Judo"
            id="Judo" />
          <label class="form-check-label" for="Judo">Judo</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="BJJ"
            id="BJJ" />
          <label class="form-check-label" for="BJJ">BJJ</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="Karate"
            id="Karate" />
          <label class="form-check-label" for="Karate">Karate</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="Grappling"
            id="Grappling" />
          <label class="form-check-label" for="Grappling">Grappling</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="Taekwondo"
            id="Taekwondo" />
          <label class="form-check-label" for="Taekwondo">Taekwondo</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="Muay Thai"
            id="Muay Thai" />
          <label class="form-check-label" for="Muay Thai">Muay Thai</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="Kickboxing"
            id="Kickboxing" />
          <label class="form-check-label" for="Kickboxing">Kickboxing</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="sport" type="radio" name="sport" value="Ju-Jitsu"
            id="Ju-Jitsu" />
          <label class="form-check-label" for="Ju-Jitsu">Ju-Jitsu</label>
        </div>
      </div>
    </mdb-form-control>
    <mdb-form-control class="w-75 d-flex flex-column justify-content-start border rounded border-light p-3"
      formControlName="gender">
      <p class="mb-0">Genere dei partecipanti:</p>
      <div class="form-check">
        <input mdbRadio class="form-check-input" formControlName="gender" type="radio" name="gender" value="maschile"
          id="maschile" checked />
        <label class="form-check-label" for="maschile">Maschile</label>
      </div>
      <div class="form-check">
        <input mdbRadio class="form-check-input" formControlName="gender" type="radio" name="gender" value="femminile"
          id="femminile" />
        <label class="form-check-label" for="femminile">Femminile</label>
      </div>
    </mdb-form-control>
    <mdb-form-control class="w-75 d-flex flex-column justify-content-start border rounded border-light my-3 p-3"
      formControlName="rules">
      <p class="mb-0">Tipo di regolamento:</p>
      <div class="d-flex justify-content-between">
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="rules" type="radio" name="rules"
            value="full-contact" id="full-contact" checked />
          <label class="form-check-label" for="full-contact">Full-contact</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="rules" type="radio" name="rules"
            value="semi-contact" id="semi-contact" />
          <label class="form-check-label" for="semi-contact">Semi-contact</label>
        </div>
        <div class="form-check">
          <input mdbRadio class="form-check-input" formControlName="rules" type="radio" name="rules"
            value="light-contact" id="light-contact" />
          <label class="form-check-label" for="light-contact">Light-contact</label>
        </div>
      </div>
    </mdb-form-control>
    <input type="text" class="w-75" name="luogo" id="luogo" placeholder="Indirizzo" required>
    <div class="w-75 d-flex justify-content-between mt-3">
      <div>
        <label class="me-2" for="data">Giorno:</label>
        <input type="date" name="data" id="data" min="2023-01-01" required>
      </div>
      <button class="btn btn-success btn-rounded">Crea evento</button>
    </div>
  </form>
</main>
