<main class="bg-dark text-light">
  <section class="container">
    <div class="py-3">
      <h1>Dai un'occhiata agli eventi disponibili e preparati a <span class="text-warning">combattere</span></h1>
      <div>
        <!-- STAMPA DEGLI EVENTI -->
      </div>
    </div>
    <div>
      <h2>Non hai trovato l'evento adatto a te?</h2>
      <a class="btn btn-primary btn-lg btn-rounded" [routerLink]="['../createEvent']" routerLink="../createEvent">Crea il tuo
        evento</a>
    </div>
  </section>
</main>
