<main class="bg-dark text-light" [ngClass]="{'loading' : loading == true}">
  <section class="container" *ngIf="!dettagliEvento; else dettagli">
    <div class="py-3">
      <h1 class="text-center">Dai un'occhiata agli eventi disponibili e preparati a <span
          class="text-warning">combattere</span></h1>
      <div class="container-fluid d-flex justify-content-between my-5 flex-column flex-lg-row flex-wrap">
        <!-- STAMPA DEGLI EVENTI -->
        <div id="cardEvento" *ngFor="let evento of eventi">
          <div class="card text-center bg-dark border border-light m-3">
            <div class="card-header border-light">{{evento.sport}}</div>
            <div class="card-body" [ngClass]="{
                'boxing': evento.sport == 'Boxing',
                'mma': evento.sport == 'MMA',
                'judo': evento.sport == 'Judo',
                'bjj': evento.sport == 'BJJ',
                'karate': evento.sport == 'Karate',
                'grappling': evento.sport == 'Grappling',
                'taekwondo': evento.sport == 'Taekwondo',
                'muaythai': evento.sport == 'Muay Thai',
                'kickboxing': evento.sport == 'Kickboxing',
                'jujitsu': evento.sport == 'Ju-Jitsu'
              }">
              <div id="contenutoScrollabile" class="mb-2">
                <h5 class="card-title text-warning">{{evento.nome}}</h5>
                <p class="card-text">{{evento.descrizione}}</p>
              </div>
              <a class="btn btn-rounded btn-primary" routerLink="../events/{{evento.id}}">Dettagli</a>
            </div>
            <div class="card-footer border-light text-muted">{{evento.data}}, {{evento.luogo}}</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h2>Non hai trovato l'evento adatto a te?</h2>
      <a class="btn btn-primary btn-lg btn-rounded" [routerLink]="['../createEvent']" routerLink="../createEvent">Crea
        il tuo
        evento</a>
    </div>
  </section>

  <!-- DETTAGLI EVENTO -->
  <ng-template #dettagli>
    <div class="container p-5">
      <div id="cartaDettaglio" class="border border-2 border-light rounded-6 p-3" [ngClass]="{
      'boxing': dettaglio.sport == 'Boxing',
      'mma': dettaglio.sport == 'MMA',
      'judo': dettaglio.sport == 'Judo',
      'bjj': dettaglio.sport == 'BJJ',
      'karate': dettaglio.sport == 'Karate',
      'grappling': dettaglio.sport == 'Grappling',
      'taekwondo': dettaglio.sport == 'Taekwondo',
      'muaythai': dettaglio.sport == 'Muay Thai',
      'kickboxing': dettaglio.sport == 'Kickboxing',
      'jujitsu': dettaglio.sport == 'Ju-Jitsu'
    }">
        <h1 class="text-warning">{{dettaglio.nome}}</h1>
        <h4 class="text-muted">Competizione {{dettaglio.genere}} di {{dettaglio.sport}}</h4>
        <small class="text-muted">{{dettaglio.data}}, {{dettaglio.luogo}}</small>
        <hr class="container">
        <p>{{dettaglio.descrizione}}</p>
        <hr class="container">
        <div class="d-flex justify-content-between flex-column flex-lg-row">
          <div>
            <h5>Informazioni di contatto</h5>
            <p>Evento a cura di {{dettaglio.organizzatore.nome}} {{dettaglio.organizzatore.cognome}}
              ({{dettaglio.organizzatore.team}}) <br> Email: <a class="text-light text-decoration-underline"
                href="mailto:{{dettaglio.organizzatore.email}}">{{dettaglio.organizzatore.email}}</a></p>
          </div>
          <button class="btn btn-primary btn-rounded" (click)="iscriviti(dettaglio)">Iscriviti</button>
        </div>
      </div>
    </div>
  </ng-template>
</main>
